<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New User</title>
</head>
<body>
	<h1>New User</h1>
	<form action="/users" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="text" name="user[first_name]" placeholder="First Name...">
		<input type="text" name="user[last_name]" placeholder="Last Name...">
		<input type="text" name="user[email]" placeholder="Email Address...">
		<input type="password" name="user[password]" placeholder="Password...">
		<input type="submit" value="Create">
	</form>
	<% if (@errors) then
		@errors.each do |e| %>
	<p><%= e %></p>
	<% end 
	end %>
</body>
</html>